body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.general {
  position: relative;

 
}

.pagination {
  position: inherit;
  width: 100%;
  margin-top: 3rem;
  padding-bottom: 2rem;
  flex-direction: row;
  justify-content: center;
  display: flex;
  align-items: center;
  
}

.next {
  margin-left: 3rem;
  
}

.prev {
  margin-right: 3rem;
  
}

.pgb {
  max-width: 200px;
  margin-bottom: 0;
}

.p-1 {
  padding: 3rem;
}

.footer {
  padding: 1rem !important;
}
.img-fz {
  display: block;
  margin: 0 auto !important;
  position: inherit;
  max-width: 40% !important;


}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}



.list-item--content {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.navbar-item img {
  min-height: 100%;
}

.card-size {
  min-height: 280px;
}

.card-size-char {
  min-height: 120px;
}

.simple-char {
position: inherit;
margin: 2rem;
display:flex;
min-width: calc(100% - 4rem);
justify-content: center;
}

.char-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.char-info {
 color: red !important;
}